body {
  margin: 0;
}
.hero-wrapper {
  width: 900px;
  margin: auto;
}
.hero-card {
  display: flex;
  flex-direction: row;
  flex: 1 1;
  border-radius: 20px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.hero-card-detailes {
  height: 100%;
  padding: 20px;
  background-color: aquamarine;
  display: block;
}
.btn {
  border-radius: 5px;
  background-color: green;
  color: white;
  text-decoration: none;
  padding: 20px 30px;

  display: inline-block;
  margin: 10px 0px;
}
